<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    
    <div class="menu_section">
       
        <h3>--</h3>
        <ul class="nav side-menu">
        
        
             <li><a><i class="fa fa-wrench"></i> Input <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/lowest-range-basic-salary">Lowest Range Basic Salary</a></li>
                    <li><a href="/company-bank-account">Company Bank Account</a></li>
                    <li><a href="/employee-registration">Employee Registration</a></li>
                </ul>
             </li>
             
             
             <li><a><i class="fa fa-money"></i> Outputs <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/employee-list">Employee List</a></li>
                    <li><a href="/salary-calculation">Salary Calculation</a></li>
                    <li><a href="/salary-sheet">Salary Sheet</a></li>
                    <li><a href="/salary-transffer">Salary Transfer</a></li>
                    <li><a href="/company-bank-balance-view">Company Bank Balance</a></li>
                </ul>
             </li>
             
             
        
             
    
        </ul>
    </div>

</div>