<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">
	
<head>
    <title>Salary Calculation</title>
    
    <!-- jQuery -->
<script src="/webjars/jquery/jquery.min.js"></script>

    
	
	<script>
       
	 $(document).ready(function () {
		 
		 $(function(){
			
		  });
		 		
		 
		 
		 $("#calculationbtn").click(function (){
			 employeeList(); 
		 });
		 
		 
		 employeeList=function(){
		
			 var table=$('#tbl'), option="";
	    	   table.empty();
	    	  
	    	   $.ajax({
	    		   
	    		   type : "GET",
				   url  : "/employee/list", 
				   success : function(response){
					   var userdatas=response.item;
					   option = option + "<thead><tr><th>Employee ID</th><th>Name</th><th>Rank/Grade</th><th>Basic</th><th>House Rent</th><th>Medical</th><th>Gross Salary</th></thead>";
					   option = option+"<tbody>";	
					   for(var i=0; i<userdatas.length; i++){
						   option = option + "<tr>";
						   option = option + "<td>"+userdatas[i].employeeCustomId+"</td>";
						   option = option + "<td>"+userdatas[i].employeeName+"</td>";
						   option = option + "<td>"+userdatas[i].gradeName+"</td>";
						   option = option + "<td>"+userdatas[i].basic+"</td>";
						   option = option + "<td>"+userdatas[i].houseRent+"</td>";
						   option = option + "<td>"+userdatas[i].medical+"</td>";
						   option = option + "<td>"+userdatas[i].gross+"</td>";
				           option = option + "</tr>";
					   }
					   option = option+"</tbody>";
						
						table.append(option);
				   },
				   error:{
					 
				   }   
	    		   
	    	     });
			 
		      };
		      
		      
		      
		  
		
		 

        	   
        	   
        
        });
		 
    </script>
	
	
    
</head>

<body>

<div class="right_col" role="main" data-layout-fragment="content">

   <div class="col-xs-1">
   </div>
  
  
   <div class="col-xs-10">
   
   <div class="col-xs-2">
   <input type="submit" class="btn btn-success btn-block" value="Calculate Salary"  id="calculationbtn" />
   </div>
   <div class="col-xs-10">
   </div>
   
    <br /><br /><br />

   <table id="tbl" class="table table-bordered table-responsive-md table-striped text-left">
   </table>
   
   </div>
   
   <div class="col-xs-1">
   </div>

 </div>

</body>
</html>
